*{
  padding:0;margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none !important;
  border: none !important;
}

body{
  background-image: url('https://images.pexels.com/photos/131685/pexels-photo-131685.jpeg?w=940&h=650&auto=compress&cs=tinysrgb');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

header{
  background-color: white; /*primary color for header*/
}

nav li{
  text-align: center;
}

nav li a{
  color: #F09200;/*primary links text color*/
}

nav li a:hover{
  color: black !important;
}

.main{
  width: 99vw !important;
  height: 80vh !important;
}

.contenu{
  background-color: white;
  overflow-y: scroll !important;
  width: 75vw !important;
  height: 100% !important;
}

.aside{
  width: 24vw !important;
  height: 100% !important;
}

.blog{
  width: 100% !important;height: 70% !important;
  color: white;
  background-color: #45454a;
  overflow-y: scroll;
}

.blog h2{
  text-align: center;
  text-decoration: underline !important;
  text-transform: uppercase;
}

.rdv{
  width: 100% !important; height: 25% !important;
  background-color: #F09200;
  color: white;
  text-align: center;
}

.liens a{
  color: #F09200;
}
